  .titulo {
    font-family: var(--fonte-cabecalho);
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 3%;
  }
  
  img {
    box-shadow: 0 1px 2px #0003;
    width: 60%;
  }
  
  .swiper {
    height: 500px;
    margin-top: 2%;
  }
  
  .swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size) / 44* 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px -(var(--swiper-navigation-size) / 2));
    margin-left: 25%;
    margin-right: 25%;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-next {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size) / 44* 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px -(var(--swiper-navigation-size) / 2));
    margin-left: 25%;
    margin-right: 25%;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
  
  @media (max-width: 450px) {
    .swiper {
      height: 270px;
    }
  }
